/*Logo*/
.logo {
  width: calc(100% - 100px);
  margin: 0 auto;
  background-image: image-set(url('https://static.platzi.com/media/tmp/class-files/git/platzi-video-postcss/platzi-video-postcss-4dc3717b8509b2356d3e6977c90c048157c4644a/src/images/platzi-video.png') 1x, url('https://static.platzi.com/media/tmp/class-files/git/platzi-video-postcss/platzi-video-postcss-4dc3717b8509b2356d3e6977c90c048157c4644a/src/images/platzi-video.png') 2x);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}
.logo-image {
  margin: 0;
}
.logo-image img {
  max-width: 100%;
}
