/*myPlaylist*/

.myPlaylist {
  padding: 0 20px;
}

.myPlaylist-item :any-link:hover {
  transform: scale(1.1);
  color: color(peru l(80%) s(50%))
}

.myPlaylist-item:matches(:last-child, :nth-of-type(3), :first-child) {
  background: color(red l(70%));
}

.myPlaylist-item:not(:last-child, :nth-of-type(3), :first-child) {
  background: color(blue l(80%));
}

.myPlaylist-item {
  & a {
    color: white;
    text-decoration: none;
    font-size: .8em;
    display: block;
    margin-bottom: 7px;
    &:hover {
      text-decoration: underline;
    }
  }
  &:last-child a {
    margin-bottom: 0;
  }
}
