.primaryPlaylistItem {
  /*border: 1px solid blue;*/
}

.primaryPlaylistItem-image {
}

.primaryPlaylistItem img {
  width: 250px;
  height: 180px;
  object-fit: cover;
}
.primaryPlaylistItem-title {
  margin: 5px 0;
  color: #44546B;
  font-size: 14px;
  font-weight: normal;
}
